$font-color: #041424;
.appDriver {
  padding: 229px 100px 160px 100px;
  h1 {
    font-size: 40px;
    color: $font-color;
    font-weight: bold;
    margin-bottom: 8px;
  }
  h4 {
    font-weight: normal;
  }
  p {
    font-size: 16px;
    color: $font-color;
    margin-top: 8px;
  }
  .app-content {
    margin-top: 68px;
  }

  .vertical-check {
    width: 7px;
    background-color: #e8e8e8;
    height: 381px;
    margin-right: 91px;
  }
  .cirlce {
    width: 13px;
    height: 12px;
    background: #e8e8e8 0% 0% no-repeat padding-box;
  }
  .circle-blue {
    width: 26px;
    height: 26px;
    background-color: #5068b8;
    border: 1px solid #5068b8;
  }

  .StarIcon {
    width: 20%;
    height: 20%;
    align-self: center;
  }
  .p-32 {
    padding-bottom: 32px;
  }
  .app-points {
    h3 {
      color: #041424;
      font-weight: bold;
      margin-left: 64px;
    }
    p {
      font-size: 24px;
      color: #041424;
    }

    ul li {
      display: flex;
      justify-content: start;
      width: max-content;
      align-items: center;
      font-size: 22px;
    }

    li hr {
      width: 67px;
      height: 0;
      border: 0;
      border-bottom: 2px dotted #efefef;
    }

    ul li img {
      position: relative;
      z-index: 1;
    }

    ul {
      position: relative;
      padding: 0;
    }

    .tick-horizontal-divider {
      position: absolute;
      left: 22px;
      top: 0;

      height: 100%;
      width: 7px;
      background: #e8e8e8;
    }

    .tick-horizontal-divider:before {
      content: "";
      width: 13px;
      height: 12px;
      border-radius: 50%;
      background: #e8e8e8;
      position: absolute;
      top: -1px;
      left: 50%;
      transform: translateX(-50%);
    }

    .tick-horizontal-divider:after {
      content: "";
      width: 13px;
      height: 12px;
      border-radius: 50%;
      background: #e8e8e8;
      position: absolute;
      bottom: -1px;
      left: 50%;
      transform: translateX(-50%);
    }
    .google-play-store {
      margin-left: 28%;
    }
  }
}

// ---------------------- Media Query  ---------------------------

@media screen and (max-width: 968px) and (min-width: 375px) {
  .appDriver {
    // background: transparent url("../Assets/Icons/Star Icon.png") 0% 0% no-repeat
    //   padding-box;
    //   background-position: 264px 79%;
    padding: 80px 17px 90px 17px;
    position: relative;
    h1 {
      font-size: 20px;
      margin-bottom: 15px;
    }
    h4 {
      font-weight: normal;
    }
    p {
      font-size: 14px;
      color: #747474;
      margin-top: 0px;
    }
    .app-content {
      flex-direction: column;
      align-items: center;

      .img-mobile {
        width: 196px;
        height: 402px;
      }
    }

    .vertical-check {
      width: 7px;
    }

    .circle-blue {
      width: 26px;
      height: 26px;
    }

    .StarIcon {
      position: absolute;
      width: 214px;
      height: 206px;
      opacity: 0.2;
      right: -115px;
      bottom: 210px;
      overflow: hidden;
    }

    .app-points {
      h3 {
        margin-top: 46px;
      }
      p {
        font-size: 24px;
        margin-bottom: 0;
      }

      ul li {
        p {
          font-size: 16px;
        }
      }

      li hr {
        width: 45px;
      }

      ul li img {
        width: 20px;
        height: 20px;
      }

      ul {
        margin-bottom: 42px;
      }

      .tick-horizontal-divider {
        left: 8px;
        width: 4px;
      }

      .tick-horizontal-divider:before {
        width: 7px;
        height: 7px;
      }

      .tick-horizontal-divider:after {
        width: 7px;
        height: 7px;
      }
    }
  }
}
