.callToAction {
  background: #1760a6;
  height: 268px;
  padding: 40px 100px 48px;
  margin: 160px 0;
  text-align: center;
  width: 100%;
  background: transparent url("../Assets/hero-background.svg") 0% 0% no-repeat
    padding-box;
  background-size: cover;

  h1 {
    color: #ffffff;
    font-weight: bold;
  }
  p {
    color: #ffffff;
  }
  div {
    width: 34%;
  }
}
