.callToAction{
    background: #1760A6;
    height: 268px;
    padding: 40px 100px 48px;
    margin: 160px 0;
    text-align: center;
    
  background: transparent url("../Assets/hero-background.svg") 0% 0% no-repeat
  padding-box;
    
    h1{
        color:#FFFFFF ;
        font-weight: bold;
    }
    p{
        color: #ffffff;
    }
    div{
        width: 34%;
    }
}