$font16: 16px;

.cardSecondary {
  // width: 376px;
  // height: 26.125rem;
  width: 76%;
  height: 266px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 4px;
  margin-bottom: 48px;
  text-align: left;

  h6 {
    font-size: 16px;
    color: #041424;
    font-weight: bold;
  }
  p {
    font-size: $font16;
    margin-top: 16px;
  }
  a {
    font-size: $font16;
    color: #1760a6;
    margin-top: 33px;
  }
  .img-container {
    width: 84px;
    height: 84px;
    background: #f3f6ff 0% 0% no-repeat padding-box;
    border-radius: 50%;
    margin-top: 24px;
    margin-bottom: 16px;
    padding: 18px;
  }
  .img-card-secondary {
    width: 50px;
  }
}

// ------------------- Media Query ----------------------------

@media screen and (max-width: 968px) and (min-width: 375px) {
  .cardSecondary {
    margin-bottom: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 100%;

    h6 {
      font-size: 16px;
      color: #041424;
      font-weight: bold;
    }

    .img-container {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
