$font16: 16px;

.cardSecondary {
  // width: 376px;
  // height: 26.125rem;
  width: 76%;
  height: 266px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 4px;
  margin-bottom: 48px;

  h6 {
    font-size: 16px;
    color: #041424;
    font-weight: bold;
  }
  p {
    font-size: $font16;
    margin-top: 16px;
  }
  a {
    font-size: $font16;
    color: #1760A6;
    margin-top:33px;
  }
  .img-container {
    width: 84px;
    height: 84px;
    background: #f3f6ff 0% 0% no-repeat padding-box;
    border-radius: 50%;
    margin-top: 24px;
    margin-bottom: 16px;
    padding: 18px;
  }
  .img-card-secondary{
      width: 50px;
  }
}
