.cardTarnary{
    flex: 1 0 33%;
    h6{
        font-size: 16px;
        font-weight: bold;
        color: #041424;

    }
    p{
        font-size: 14px;
        color: #747474;
    }
    .img-container{
        height: 60px;
        width: 60px;
        margin-right: 16px;
    }
}