nav {
  background-color: #1760a6;
  height: 79px;
  width: 100%;
  padding: 16px 106px 21px 100px;
  position: fixed;
  z-index: 1;

  .nav-logo {
    padding-top: 10px;
  }
  .nav-logo h1 {
    color: #f3f3f3;
    font-size: 20px;
    margin-left: 5px;
    // font-family: $font-family-Nunito;
    align-items: baseline;
  }
  button {
    background-color: transparent;
    border: solid 1px #ffffff;
    padding: 0px 20px;
    font-size: 16px;
    color: white;
    border-radius: 2px;
    height: 42px;
  }

  button:hover {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #ffffff;
    border-radius: 2px;
    color: #1760a6;
    opacity: 0.8;
  }

  button:active {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #ffffff;
    border-radius: 2px;
    color: #1760a6;
    opacity: 0.8;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    margin: 0;

    li {
      list-style-type: none;
      //   padding-bottom: 1px;

      .link {
        color: #ffffff;
        font-size: 16px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 1px;
        margin-left: 53px;
        border-bottom: 1px solid #1760a6;
      }
      .link:hover {
        color: #ffffff;
        border-bottom: 1px solid white;
      }
      .active {
        color: #ffffff;
        border-bottom: 1px solid white;
      }
      // .link:focus {
      //   color: #ffffff;
      //   border-bottom: 1px solid white;
      // }
      // .link:visited {
      //   color: #ffffff;
      //   // border-bottom: 1px solid white;
      // }
    }
  }
}
@media screen and (max-width: 968px) and (min-width: 375px) {
  nav {
    // background-color: #1760a6;
    // height: 79px;
    // width: 100%;
    padding: 24px 17px 25px 17px;
    // position: fixed;
    // z-index: 1;
  }
  .drawer-nav {
    li{
      margin-bottom: 20px ;
    }
    .link {
      color: #ffffff;
      font-size: 16px;
      // padding-left: 0;
      // padding-right: 0;
      // padding-bottom: 1px;
      // margin-left: 53px;
      // border-bottom: 1px solid #1760a6;
    }
    // .link:hover {
    //   color: #ffffff;
    //   border-bottom: 1px solid white;
    // }
    .active {
      color: #175fa4;
      border-bottom: 2px solid #175fa4;
    }
  }
  .ant-drawer-content-wrapper {
    width: 100% !important;
    .ant-drawer-content {
      background-color: #1d1d1d !important;

      .ant-drawer-close {
        color: #ffffff !important;
        width: 50px !important;
      }
      .ant-drawer-body {
        padding: 134px 22px 0 77px !important;
      }
    }
  }
}
