button {
    background-color: transparent;
    border: solid 1px #ffffff;
    padding: 0px 20px;
    font-size: 16px;
    color: white;
    border-radius: 2px;
    height: 42px;
  }

//   button:active{
//     background-color:#FFFFFF;
//     color:#1760A6;
//     font-weight: 700;
// }
.button-active{
  background-color:#FFFFFF;
  color:#1760A6;
  font-weight: 700;}