$headingLight: #ffffff;
$headingDark: #041424;
$headingFont: 40px;

$paraFontSize: 16px;
$paraLight: #ffffff;
$paraDark: #747474;

$currentBreadCrumb: #d4d4d4;

@mixin headingDark {
  font-size: $headingFont;
  color: $headingDark;
}
@mixin headingLight {
  font-size: $headingFont;
  color: $headingLight;
}

@mixin paraDark {
  font-size: $paraFontSize;
  color: $paraDark;
}

@mixin paraLight {
  font-size: $paraFontSize;
  color: $paraLight;
}

// -------------------  About us section ---------------------------
.about {
  background: transparent url("../../Assets/hero-background.svg") 0% 0% no-repeat padding-box;
  background-size: cover;
  height: 433px;
  padding-top: 119px;
  padding-left: 100px;

  h1 {
    @include headingLight;
    margin-top:40px;
  }
  p {
    @include paraLight;
    margin-bottom: 0;
  }
  hr {
    background-color: $paraLight;
    border: 2px solid #ffffff;
    width: 179px;
    margin-top: 73px;
    opacity: 1;
  }

  .ant-breadcrumb-link,
  .ant-breadcrumb-separator {
    color: $headingLight;
  }
  .ant-breadcrumb-link a {
    color: $currentBreadCrumb !important;
  }
}


// -------------------  Our Vision ---------------------------
.vision{
  padding: 80px 82px 80px 100px;
  h1{
    @include headingDark;
  }
  p{
    @include paraDark;
  }
  .visionCard{
    margin-top:80px;
  }
}

// -------------------  Our Mission ---------------------------
.ourMission{
padding: 80px 80px 80px 100px;
  h1{
    @include headingDark;
  }
}