$headingLight: #ffffff;
$headingDark: #041424;
$headingFont: 40px;

$paraFontSize: 16px;
$paraLight: #ffffff;
$paraDark: #747474;

$currentBreadCrumb: #d4d4d4;

@mixin headingDark {
  font-size: $headingFont;
  color: $headingDark;
  font-weight: bold;
}
@mixin headingLight {
  font-size: $headingFont;
  color: $headingLight;
  font-weight: bold;
}

@mixin paraDark {
  font-size: $paraFontSize;
  color: $paraDark;
}

@mixin paraLight {
  font-size: $paraFontSize;
  color: $paraLight;
}

// -------------------  About us section ---------------------------
.about {
  background: transparent url("../../Assets/Component 40 – 1.png") 0% 0% no-repeat
  padding-box;
  background-size: cover;
  height: 433px;
  padding-top: 119px;
  padding-left: 100px;

  h1 {
    @include headingLight;
    margin-top: 40px;
  }
  p {
    @include paraLight;
    margin-bottom: 0;
  }
  hr {
    background-color: $paraLight;
    border: 2px solid #ffffff;
    width: 179px;
    margin-top: 73px;
    opacity: 1;
  }

  .ant-breadcrumb-link,
  .ant-breadcrumb-separator {
    color: $headingLight;
  }
  .ant-breadcrumb-link a {
    color: $currentBreadCrumb !important;
    font-size: 16px;
  }
}

// -------------------  Our Vision ---------------------------
.vision {
  padding: 80px 82px 80px 100px;
  h1 {
    @include headingDark;
    margin-bottom: 16px;
    
  }
  p {
    @include paraDark;

  }
  .visionCard {
    margin-top: 80px;
    p{
      text-align: justify;
    }
  }
}

// -------------------  Our Mission ---------------------------
.ourMission {
  padding: 80px 80px 80px 100px;
  h1 {
    @include headingDark;
  }
  h5 {
    color: #041424;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    margin-top: 5px;
  }
  p{
    font-size: 16px;
  }
  li {
    margin-bottom: 36px;
  }
  li img {
    width: 40px;
    height: 40px;
  }
}

// -------------------   section Value we provide ---------------------------
.valueWeProvide {
  padding: 80px 80px 160px 100px;
  h1 {
    @include headingDark;
  }
  p {
    @include paraDark;
    margin-bottom: 68px;
  }
}

// -------------------   section Why Prism ---------------------------
.whyPrism {
  height: 769px;
  background: #1760a6 0% 0% no-repeat padding-box;
  margin-bottom: 160px;
  padding: 40px 80px 160px 100px;
  background: transparent url("../../Assets/hero-background.svg") 0% 0%
    no-repeat padding-box;
    background-size: cover;
    h1{
      @include headingLight;
    }
    p{
      @include paraLight;
      line-height: 50px;
    }
    .graph{
      align-self: center;
      width: 367px;
    }
}
