@mixin heading-h1-dark {
  font-size: 40px;
  color: #041424;
  font-weight: bold;
}

.feature-wrapper {
  padding-left: 100px;
  padding-top: 80px;
  padding-right: 100px;
  .comprehensiveOverview {
    padding-bottom: 80px;
    a {
      color: #1760a6;
      font-size: 16px;
    }

    h1:first-child {
      color: #c5c5c5;
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 0;
    }
    h1:nth-child(2) {
      color: #1760a6;
      font-size: 40px;
      font-weight: bold;
      margin-top: 0;
    }
    p {
      color: #747474;
      font-size: 16px;
    }
    .cardTarnary p {
      font-size: 14px;
      color: #747474;
    }
    .card-container {
      flex-wrap: wrap;
      margin-left: 50px;
      // padding: 24px 23px 26px 24px;
      background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
      box-shadow: 0px 10px 20px rgba(152, 152, 152, 0.16);
      border-radius: 4px;
    }
  }

  // -------------- Break Down Dashboad Feature Css ----------------

  .dashboardFeature {
    padding-top: 80px;
    h1 {
      @include heading-h1-dark;
    }
    .ant-tabs {
      margin-top: 40px;

      .ant-tabs-nav-wrap {
        justify-content: center;
        .ant-tabs-nav-list {
          .ant-tabs-tab {
            padding-bottom: 6px;
          }

          .ant-tabs-tab-btn {
            color: #818181;
            font-size: 16px;
            font-weight: bold;
          }
          .ant-tabs-tab-active {
            // border-bottom: 1px solid #1760a6;

            .ant-tabs-tab-btn {
              color: #1760a6;
            }
          }
        }
      }

      .ant-tabs-nav::before {
        border-bottom: none;
      }

      .ant-tabs-content {
        height: 500px;
      }
    }
  }
}
// -------------- Break Down Dashboad Feature Css ----------------
.videoGallery {
  padding: 161px 0 180px 0;

  h1 {
    @include heading-h1-dark;
  }
  p {
    color: #747474;
    font-size: 16px;
    margin-bottom: 24px;
  }
  .video-slider {
    width: 90%;
    margin: auto;
    position: relative;
    // z-index: 1;

    .sliderVideoHolder {
      background-color: grey;
      height: 319px;
      width: 356px;
      margin-left: 30px;
      border-radius: 4px;
    }
    .slick-arrow {
      height: 35px;
      width: 35px;
      margin: 0 35px;
    }
    .slick-prev {
      position: absolute;
      top: 50%;
      left: -80px;
      background: transparent url("../../Assets/Icons/Group 2579.png") 0% 0%
        no-repeat padding-box;
      // z-index: 1;
    }
    .slick-next {
      position: absolute;
      top: 50%;
      right: -80px;
      background: transparent url("../../Assets/Icons/Component 39 – 1.png") 0%
        0% no-repeat padding-box;
      // z-index: 1;
    }
  }
}
